/*

Blue: #0093C9
Green: #40A97E
Orange: #F3A063
Pink: #E08CB9

/*
 * Global
 */

html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
body {
  font-size: 1em;
  line-height: 1.45;
  color: #2D2D2D;
  font-family: "sirba-web", Georgia, serif;
  background-color: #E7E7E7;
}
img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Helper class to center a set of columns horizontally */
.center-block {
  float: none;
}
/* Helper class to center things vertically */
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  	  -ms-transform: translateY(-50%);
  	      transform: translateY(-50%);
}

/*
 * Grid
 */

.main-content {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 300px;
  background-color: #FFF;
}

/*
 * Typography
 */

p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: bold;
}
h1 {
  margin-top: 0px;
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
ul {
  padding-left: 20px;
}
a {
  color: #0093C9;
}
a:hover {
  color: #197AB5;
}
ol {
  padding-left: 30px;
}
ul li,
ol li {
  margin-top: 0px;
  margin-bottom: .75rem;
}
blockquote {
  border-left: none;
  font-size: .9rem;
  line-height: 1.35;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
hr {
  border-bottom: 2px solid #E7E7E7;
}

/*
 * Buttons
 */

.btn {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  border-radius: 7px;
}
@media (min-width: 768px) {
  .btn {
    font-size: 16px;
  }
}
.btn-primary {
  background-color: #0093C9;
  border: 1px solid #fff;
}
.btn-primary:hover {
  background-color: #197AB5;
  border: 1px solid #fff;
}

/*
 * Navigation bar
 */

.navbar {
  margin-bottom: 0px;
  background-color: #FFF;
  border-bottom: 0px;
  font-size: 17px;
  font-family: Helvetica, sans-serif;
}
.navbar-nav > li {
  margin-bottom: 0px;
  height: 100%;
}
.navbar-brand {
  height: auto;
}
.navbar-brand .logo {
  max-width: 213px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media (min-width: 980px) {
  .navbar-collapse {
    margin-top: 20px;
  } 
}
.main-nav .navbar-toggle {
  border: 1px solid #0093C9;
  margin-top: 30px;
}
.main-nav .navbar-toggle .icon-bar {
  background-color: #0093C9;
}
.arrow-up {
  position: absolute;
  display: none;
  left: 50%;
  bottom: -20px;
	width: 0; 
	height: 0; 
  margin-left: -7px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
#arrow-product {
  border-bottom: 7px solid #0093C9;
}
#arrow-company {
  border-bottom: 7px solid #40A97E;
}
#arrow-support {
  border-bottom: 7px solid #F3A063;
}
@media (min-width: 980px) {
  .navbar-nav > .active > a > .arrow-up {
    display: block;
  }
}

/*
 * Sub-navigation bar
 */

.sub-nav {
  background-color: #0093C9;
  border-radius: 0px;
  font-size: 15px;
  min-height: 0px;
}
.sub-nav .nav li {
  opacity: 1;
}
.sub-nav .navbar-nav > li > a {
  color: #FFF;
  opacity: .7;
}
.sub-nav .navbar-nav > li > a:hover,
.sub-nav .navbar-nav > li > a:focus,
.sub-nav .navbar-nav > .active > a,
.sub-nav .navbar-nav > .active > a:hover,
.sub-nav .navbar-nav > .active > a:focus {
  background-color: transparent;
  opacity: 1;
}
.sub-nav .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 1200px) {
  .sub-nav .navbar-nav {
    margin-left: 228px;
  }
}
.sub-nav .navbar-nav li {
  display: inline-block;
}
.sub-nav .navbar-toggle {
  border: 1px solid #FFF;
}
.sub-nav .navbar-toggle .icon-bar {
  background-color: #FFF;
}
#company-nav {
  background-color: #40A97E;
}
#support-nav {
  background-color: #F3A063;
}

/*
 * Jumbotron
 */

.jumbotron {
  height: 400px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 55px;
  text-align: center;
  background-color: #0093c9;
  color: white;
  letter-spacing: .02rem;
}
.jumbotron h1 {
  font-size: 1.95rem;
  font-weight: normal;
  line-height: 1.2;
}
.jumbotron p {
  font-size: 1.15rem;
  line-height: 1.35;
  margin-top: 15px;
  margin-bottom: 25px;
}

/*
 * Footer
 */

footer {
  font-family: Helvetica, sans-serif;
  background-color: #0093C9;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 40px;
}
footer ul {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}
footer h2 {
  margin-top: 0px;
  font-size: 1rem;
  font-weight: normal;
}
footer ul li {
  margin-bottom: 0px;
}
footer ul li a {
  color: #FFF;
}