---
---
/*
Table of Contents

1. Global
2. Grid
3. Typography
4. Buttons
5. Navigation Bar
6. Sub-navigation Bar
7. Jumbotron
8. Featurette
9. Call to Action
10. Footer
11. Animations
*/

/*
Colors

Blue: #0093C9
Green: #40A97E
Orange: #F3A063
Pink: #E08CB9
*/

/*
 * Global
 */

html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
body {
  font-family: "sirba-web", Georgia, serif;
  font-size: 1em;
  line-height: 1.45;
  color: #2D2D2D;
  background-color: #E7E7E7;
}
img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}
/* Helper class to center a set of columns horizontally */
.center-block {
  float: none;
}
/* Helper class to center things vertically */
.vertical-center {

}

/*
 * Grid
 */

.main-content {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 300px;
  background-color: #FFF;
}

/*
 * Typography
 */

p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: bold;
  color: #0093C9;
}
h1 {
  margin-top: 0px;
  font-size: 1.4rem;
}
h2 {
  font-size: 1.2rem;
}
ul {
  padding-left: 20px;
}
a {
  color: #0093C9;
}
a:hover {
  color: #40A97E;
}
ol {
  padding-left: 30px;
}
ul li,
ol li {
  margin-top: 0px;
  margin-bottom: .75rem;
}
blockquote {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  font-size: .9rem;
  line-height: 1.35;
  border-left: none;
  
}
hr {
  border-bottom: 2px solid #E7E7E7;
}

/*
 * Buttons
 */

.btn {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  border-radius: 7px;
}
@media (min-width: 768px) {
  .btn {
    font-size: 16px;
  }
}
.btn-primary {
  background-color: #0093C9;
  border: 1px solid #fff;
}
.btn-primary:hover {
  background-color: #197AB5;
  border: 1px solid #fff;
}
.btn-inverse {
  background-color: transparent;
  border: 2px solid rgba(255,255,255,.6);
  color: #fff;
}
.btn-inverse:hover {
  background-color: rgba(0, 0, 0, .1);
  color: #fff;
}

/*
 * Navigation bar
 */

.navbar {
  margin-bottom: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  background-color: #FFF;
  border-bottom: 0px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}
.main-nav .nav > li > a:hover,
.main-nav .nav > li > a:focus {
  color: #7E7E7E;
}
.navbar-nav > li {
  margin-bottom: 0px;
  height: 100%;
}
.navbar-brand {
  height: auto;
}
.navbar-brand .logo {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 213px;
}
@media (min-width: 980px) {
  .navbar-collapse {
    margin-top: 20px;
  } 
}
.main-nav .navbar-toggle {
  border: 1px solid #0093C9;
  margin-top: 30px;
}
.main-nav .navbar-toggle .icon-bar {
  background-color: #0093C9;
}
.arrow-up {
  position: absolute;
  left: 50%;
  bottom: -20px;
  display: none;
  margin-left: -7px;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
@media (min-width: 980px) {
  .navbar-nav > .active > a > .arrow-up {
    display: block;
  }
}
#arrow-product {
  border-bottom: 7px solid #0093C9;
}
#arrow-company {
  border-bottom: 7px solid #40A97E;
}
#arrow-support {
  border-bottom: 7px solid #F3A063;
}

/*
 * Sub-navigation bar
 */

.sub-nav {
  border-radius: 0px;
  font-size: 15px;
  min-height: 0px;
  background-color: #0093C9;
  border-bottom: 7px solid rgba(255,255,255,.6);
}
.sub-nav .navbar-nav > li > a {
  color: rgba(255,255,255,.7);
}
.sub-nav .navbar-nav > li > a:hover,
.sub-nav .navbar-nav > li > a:focus,
.sub-nav .navbar-nav > .active > a,
.sub-nav .navbar-nav > .active > a:hover,
.sub-nav .navbar-nav > .active > a:focus {
  color: rgb(255,255,255);
}
.sub-nav .navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (min-width: 1200px) {
  .sub-nav .navbar-nav {
    margin-left: 228px;
  }
}
.sub-nav .navbar-nav li {
  display: inline-block;
}
.sub-nav .navbar-toggle {
  border: 1px solid #FFF;
}
.sub-nav .navbar-toggle .icon-bar {
  background-color: #FFF;
}
#company-nav {
  background-color: #40A97E;
}
#support-nav {
  background-color: #F3A063;
}

/*
 * Jumbotron
 */

.jumbotron {
  position: relative;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 450px;
  text-align: center;
  letter-spacing: .02rem;
  color: white;
  border-top: 7px solid rgba(0,147,201,.6);
  border-bottom: 7px solid rgba(0,147,201,.6);
  background: #E7E7E7 url({{ site.baseurl }}/img/intro-collage.jpg) no-repeat fixed;
}
@media (min-width: 768px) {
  .jumbotron {
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}
@media (min-width: 1400px) {
  .jumbotron {
    height: 525px;
  }
}
@media (min-width: 1500px) {
  .jumbotron {
    height: 560px;
  }
}
.jumbotron-caption {
  /* Positioning to center caption vertically in jumbotron */
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  	  -ms-transform: translateY(-50%);
  	      transform: translateY(-50%);
 
  /* For entrance animation */
  visibility: hidden; 
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 650px;
  text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.jumbotron h1 {
  font-size: 1.95rem;
  line-height: 1.2;
  font-weight: normal;
}
.jumbotron p {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 1.15rem;
  line-height: 1.35;
}

/*
 * Feature list
 */

.feature-list hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
.feature-list h2 {
  margin-top: 0px;
}

/*
 * Gallery
 */

.gallery img {
  max-height: 120px;
}
@media (min-width: 1200px) {
  .gallery img {
    max-height: 135px;
  }
}

/*
 * Call to action
 */

.call-to-action {
  padding-bottom: 40px;
  text-align: center;
  color: #FFF;
  background-color: #40A97E;
  border-top: 5px solid rgba(255,255,255,.5);
}
.call-to-action h1,
.call-to-action h2 {
  letter-spacing: .02rem;
  color: #FFF;
}

/*
 * Footer
 */

footer {
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Helvetica, sans-serif;
  font-size: .9rem;
  color: #FFF;
  background-color: #0093C9;
  border-top: 5px solid #9AD2E8;
}
footer h2 {
  font-size: 1rem;
  font-weight: normal;
  color: #9AD2E8;
}
@media (min-width: 980px) {
  footer h2 {
    margin-top: 0px;
  }
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul li {
  margin-bottom: 0px;
}
footer ul li a {
  color: #FFF;
}
footer ul li a:hover {
  text-decoration: none;
  color: #FFF;
}

/*
 * Animations
 */

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	
	animation-duration: 1.25s;	
	-webkit-animation-duration: 1.25s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;	
}
@keyframes fadeIn {
	0% {
		opacity: 0.0;		
	}
	40% {
		opacity: 0.0;		
	}
	100% {
		opacity: 1;	
	}		
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0.0;		
	}
	40% {
		opacity: 0.0;		
	}
	100% {
		opacity: 1;	
	}		
}