    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>BuildYourOwnCurriculum</h2>
            <ul>
              <li><a href="{{ site.baseurl }}/product">Product Tour</a></li>
              <li><a href="{{ site.baseurl }}/editions">Editions</a></li>
              <li><a href="{{ site.baseurl }}/story">Story and Core Beliefs</a></li>
              <li><a href="{{ site.baseurl }}/video-demos">Video Demos</a></li>
              <li><a href="{{ site.baseurl }}/success-stories">Success Stories</a></li>
              <li><a href="{{ site.baseurl }}/sample-curriculum">Sample Curriculum</a></li>
              <li><a href="{{ site.baseurl }}/awards">Awards and Recognition</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h2>Company</h2>
            <ul>
              <li><a href="{{ site.baseurl }}/company">About Us</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
              <li><a href="{{ site.baseurl }}/regional-partners">Regional Partners</a></li>
              <li><a href="{{ site.baseurl }}/news">News</a></li>
              <li><a href="{{ site.baseurl }}/events">Events</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2>Support</h2>
            <ul>
              <li><a href="{{ site.baseurl }}/support">Overview</a></li>
              <li><a href="{{ site.baseurl }}/educational-resources">Educational Resources</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h2>School Software Group</h2>
            <p>61 N. Meadow Row Ct.<br>
            Appleton, WI 54913<br>
            Phone: 920.264.9040<br>
            Toll Free: 800.596.0735</p>
            <ul>
              <li><a href="http://www.facebook.com/SchoolSoftwareGroup">Visit us on Facebook</a></li>
              <li><a href="https://twitter.com/SchoolSoftware">Follow us on Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/holder.js"></script>
  </body>
</html>